<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-checkbox [required]="false"></mat-checkbox><mat-checkbox [required]="false"></mat-checkbox></div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-form-field [floatLabel]="&apos;auto&apos;">
      <mat-label></mat-label>
      <textarea matInput placeholder="Text Area" [required]="false"></textarea>
    </mat-form-field><mat-form-field [floatLabel]="&apos;auto&apos;">
      <mat-label></mat-label>
      <textarea matInput placeholder="Text Area" [required]="false"></textarea>
    </mat-form-field></div>
</div>